---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="GxZzz 的个人简介"
	pubDate={new Date('2025-01-01')}
>
	<p>
		我是 <strong>GxZzz</strong>，一名开发者。这个博客用来记录我的编程学习、项目实践和技术思考。
	</p>

	<p>
		欢迎通过 <a href="https://github.com/GxZzzzz">GitHub</a> 联系我。
	</p>
</Layout>
